
*{
    /*padding: 0;
    margin: 0;*/
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    padding: 20px;
}

header h1{
    margin: 0;
}

header p{
    margin: 0;
    color: #555;
    font-size: 12px;
    border-radius: 999px;
    line-height: 1;
    opacity: 0.8;
}
.cards{
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    min-width: 200px;
    /*flex-basis: calc((100% - 5px*2)/3);*/
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#pro{
    background-color: rgba(70, 13, 226, 0.888);
    color: white;
}

#pro-btn{
    background-color: white;
    color: rgba(70, 13, 226, 0.888);
    font-weight: bolder;
}

#info-pro{
    color: white;
}

#pro-percent{
    color: black;
}
/*.card-header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}*/

.card-header h2{
    margin: 0;
}

.info{
    color: #555;
    font-size: 12px;
    border-radius: 999px;
    line-height: 1;
    opacity: 0.8;
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.dollaro{
font-size: 16px;
}

.price{
    font-size: 48px;
    font-weight: bold;
}

.periodo{
    font-size: 14.4px;
    opacity: 0.6;
}

.promozione{
    font-size: 14px;
}

.percentuale{
    background: #dad9d9;
    padding: 2px 6px;
    border-radius: 6px;
    font-size: 12.8px;
}

.btn{
    padding: 15px 80px;
    border-radius: 10px;
    border: none;
    color: aliceblue;
    background-color: rgb(83, 54, 227);
}

.list-container ul{
    list-style: none;
    padding: 0;
    margin: 20px 0;
    
}

.terza-card .list-container ul{
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px;
}

.list-container li{
    display: flex;
    align-items: center;
    gap: 8px;
    
}

.terza-card .list-container li{
    flex: 1 1 45%;
    min-width: 220px;
}

.icon{
    font-size: 20px;
    font-weight: bold;
    opacity: 0.7;

}

.container{
    max-width: 1200px;
    margin: 0 auto;
      
}

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}