
*{
    /*padding: 0;
    margin: 0;*/
    box-sizing: border-box;
    font-family: sans-serif;
}

.cards{
    background-color: rgb(80, 80, 189);
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    min-width: 200px;
    flex-basis: calc(100% - 10px*2)/3;
    flex-grow: 1;
    
   
}

.container{
    max-width: 1200px;
    margin: 0 auto;
      
}

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}